<!DOCTYPE html>
<html>
  <head>
    <title>Tempelcorp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
		</script>
	<![endif]-->
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Tempelcorp</h3>
          <nav class="nav nav-masthead justify-content-center">
			<%= link_to "Home", root_path, {:class => "nav-link active"} %>
			<%= link_to "About", about_path, {:class => "nav-link"} %>
			<%= link_to "Contact", contact_path, {:class => "nav-link"} %>
          </nav>
        </div>
      </header>


    <div class="container">
      <%= yield %>
	</div>
	
	<footer class="mastfoot mt-auto">
	<div class="inner">
	  <p>Website built by <a href="https://www.linkedin.com/in/nathan-tempelman-0b240446/">Nathan Tempelman</a>, founder and CEO, 2019.</p>
	</div>
  </footer>
  </body>
</html>
<!DOCTYPE html>